---
# tasks file for grafana

- name: Install required dnf packages
  ansible.builtin.dnf:
    name:
      - initscripts
      - fontconfig
    state: present

- name: Add Grafana repository file from template
  ansible.builtin.template:
    src: grafana.repo.j2
    desk: /etc/yum.repos.d/grafana.repo
    owner: root
    group: root
    mode: '0644'

- name: Install Grafana
  ansible.builtin.dnf:
    name: grafana
    state: latest
    update_cache: true
  notify: Start grafana-server

- name: Start and enable grafana-server
  ansible.builtin.systemd:
    name: grafana-server
    state: started
    enabled: true

- name: Configure Grafana Prometheus Data Source (API)
  ansible.builtin.uri:
    url: "http://localhost:3000/api/datasources"
    user: "{{ grafana_admin_user }}"
    password: "{{ grafana_admin_password }}"
    method : POST
    body_format: json
    status_code: 200
    body: "{{ lookup('ansible.builtin.template', 'prometheus_datasource.json.j2') }}"
    headers:
      Content-Type: "application/json"
    validate_certs: false
    force_basic_auth: true

- name: Import Blackbox Ping Status Dashboard (API)
  ansible.builtin.uri:
    url: "http://localhost:3000/api/dashboards/db"
    user: "{{ grafana_admin_user }}"
    password: "{{ grafana_admin_password }}"
    method: POST
    body_format: json
    status_code: 200
    body: "{{ lookup('ansible.builtin.template', 'test_ping.json.j2') }}"
    headers: 
      Content-Type: "application/json"
    validate_certs: false
    force_basic_auth: true
