---
# handlers file for prometheus role

- name: Daemon reload
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart prometheus
  ansible.builtin.systemd:
    name: prometheus
    state: restarted
    enabled: true

- name: Reload prometheus
  ansible.builtin.systemd:
    name: prometheus
    state: reloaded
    enabled: true
