<VirtualHost *:{{ apache_listen }}>
    Alias {{ static_url }}/ {{ static_path }}/
    <Directory {{ static_path }}/>
        Require all granted
    </Directory>

    ProxyPass {{ static_url }}/ !
    ProxyPreserveHost On
    ProxyPass / http://127.0.0.1:{{ uvicorn_listen }}/
    ProxyPassReverse / http://127.0.0.1:{{ uvicorn_listen }}/

    ErrorLog {{ errorlog }}
    CustomLog {{ accesslog }} combined
</VirtualHost>
